.portfolio--sample--frame {
  position: relative;
  overflow: hidden; }
  .portfolio--sample--frame:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 33.33333%; }
  .portfolio--sample--frame > * {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  .portfolio--sample--frame > iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

.portfolio--samples {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  box-align: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  align-content: stretch;
  -ms-flex-line-pack: stretch;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.portfolio--sample {
  width: 100%;
  margin: 0 10px;
  background: #EEFFFF;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: inline-box;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  box-pack: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  align-content: center;
  -ms-flex-line-pack: center;
  box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-mask-image: url(../img/thumb-mask.svg);
  -webkit-mask-size: 100% 100%;
  -ms-mask-image: url(../img/thumb-mask.svg);
  -ms-mask-size: 100% 100%;
  -moz-mask-image: url(../img/thumb-mask.svg);
  -moz-mask-size: 100% 100%;
  mask-image: url(../img/thumb-mask.svg);
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat; }
  .portfolio--sample:first-child {
    margin-left: 0; }
  .portfolio--sample:last-child {
    margin-right: 0; }

@media screen and (max-width: 900px) {
  .portfolio--sample--frame {
    position: relative; }
    .portfolio--sample--frame:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 200%; }
    .portfolio--sample--frame > * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; } }
@media screen and (max-width: 594px) {
  .portfolio--samples {
    box-orient: vertical;
    box-direction: normal;
    -moz-flex-direction: column;
    flex-direction: column;
    -ms-flex-direction: column; }

  .portfolio--sample {
    margin: 10px 0;
    height: 100%; } }