nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  perspective: 600px;
  mix-blend-mode: hard-light; }
  nav .contact-me {
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1; }
  nav .tagline {
    text-align: center;
    font-size: 16px;
    font-weight: lighter;
    width: 18em;
    margin: 0;
    padding: 1em 0 0 0; }
    nav .tagline:hover .delight:before {
      animation: 1.5s fader 0s linear infinite alternate; }
    nav .tagline:hover .delight:after {
      animation: 1.5s fader 1s linear infinite alternate; }
    nav .tagline:hover .surprise > * {
      animation: tilty 1s ease-in-out infinite alternate; }
    nav .tagline p {
      margin: 0.5em 0;
      font-weight: lighter; }
    nav .tagline .surprise {
      color: #FF43AD;
      font-weight: normal;
      font-size: 26px; }
    nav .tagline .amp {
      color: #7c5e9f;
      font-weight: 100;
      font-size: 20px;
      font-family: "haptik", Futura, Trebuchet MS, Arial, sans-serif; }
    nav .tagline .delight {
      color: #FFB948;
      background: url(../img/delight.svg) 0 bottom/contain no-repeat;
      color: transparent;
      font-size: 26px;
      position: relative;
      bottom: -.1em;
      letter-spacing: -.07em; }
      nav .tagline .delight:after, nav .tagline .delight:before {
        content: '';
        background: url(../img/dazzle.svg) center center/contain no-repeat;
        width: 16px;
        height: 16px;
        position: absolute;
        right: -12%;
        bottom: -18%;
        opacity: 1; }
      nav .tagline .delight:before {
        left: 14%;
        top: -35%;
        width: 18px;
        height: 18px; }

nav .identity {
  text-align: center;
  display: inline-block;
  margin: 0;
  padding: 0;
  margin: 0;
  transform: translateY(10px); }
  nav .identity > a {
    width: 300px;
    height: 180px;
    font-size: 0;
    color: transparent;
    color: transparent;
    display: block;
    position: relative;
    cursor: pointer;
    animation: 1.25s band ease-in-out; }
    nav .identity > a i {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      transition: all .1s ease-in-out; }
    nav .identity > a i.shadow {
      background: url(../img/rog.ie.svg) center center no-repeat;
      background-size: 250px 150px;
      -webkit-filter: url(#logo-shadow);
              filter: url(#logo-shadow);
      opacity: 0.8;
      transform: translateZ(-40px) translateY(10px); }
      html[data-useragent*='Edge'] nav .identity > a i.shadow {
        opacity: 0.6;
        -webkit-filter: blur(14px);
                filter: blur(14px); }
    nav .identity > a i.graphic > svg {
      width: 100%;
      height: 100%; }
    nav .identity > a:active i.shadow {
      opacity: 0.6;
      transform: translateZ(-40px) translateY(20px) !important; }
    nav .identity > a:active i.graphic {
      transform: translateY(20px) !important; }
  nav .identity .jubilee.celebrate {
    position: absolute;
    left: 50% !important;
    top: 50% !important;
    bottom: auto !important;
    right: auto !important;
    height: 0 !important;
    width: 0 !important;
    display: block;
    transform: translate(-50%, -50%);
    -webkit-filter: url(#jubilee-shadow);
            filter: url(#jubilee-shadow); }

.jubilee.celebrate .particle {
  opacity: 0; }
  .jubilee.celebrate .particle.play {
    animation: 1s fader linear; }

.nav-docked nav {
  bottom: auto;
  height: 100px;
  mix-blend-mode: normal; }
  .nav-docked nav .identity {
    transform: scale(0.4); }
    .nav-docked nav .identity .graphic path {
      fill: white; }
  .nav-docked nav .tagline {
    opacity: 0;
    display: none; }
.nav-docked header {
  min-height: 180px;
  z-index: 100; }
.nav-docked main > svg {
  display: none; }

@media screen and (max-width: 640px) {
  nav .identity {
    transform-origin: -15% 45%; } }