@import 'vars';
@import 'mixins';

$mobile-width: 260px;
$portfolio-transition-time: $transition-duration;

.portfolio{
  padding: 0;
  position: relative;
  margin: 0 auto;
  padding: $pad*4 0;

  >div{
    opacity: 0;
    @include transition(opacity $portfolio-transition-time*2 $easing );
  }
  &:before{
    position: absolute;
    left: 0;
    top: $pad*4;
    right: 0;
    height: 60px;
    text-align: center;
    opacity: 1;
    content: '';
    background: url(../img/arrow.svg) center center no-repeat;
    background-size: contain;
    @include transition(opacity $portfolio-transition-time $easing );
  }
  .nav-docking &{
    >div{
      opacity: 1;
    }
    &:before{
      opacity: 0;
    }
  }

  .body-content{
    padding-top: 0;
    padding-bottom:0;
    max-width: 70vw;
  }

  &>svg{
    top: 0;
  }
  &:nth-child(2n)>svg{
    fill: url(#grad-pink);
    path{
      d: path($svg-path-wavy-3);
    }
  }
  &:nth-child(3n)>svg{
    fill: url(#grad-orange);
  }

  .frame.mobile{
    position: absolute;
    left: 17vw;
    top: $pad*6;
    z-index: 10;
    font-size: 260px;
    opacity: 1;
  }

  .frame.web{
    position: absolute;
    left: 17vw;
    top: $pad*6;
    z-index: 10;
    opacity: 1;
    font-size: 40vw;
  }

  .view{
    padding: $pad*2 0;

    >*{
      &.previous,
      &.next{
        cursor: pointer;
        &:hover{
          figure{
            @include transform(translateY(-2%));
          }
        }
        &:focus,
        &:active{
          figure{
            @include transform(translateY(2%));
          }
          img{
            box-shadow: 0 2px 4px fade-out(black,0.9), 0 10px 10px -12px fade-out(black,0.9);
          }
        }
        img{
          border-radius: 10px;
          margin: 0;
          box-shadow: 0 2px 4px fade-out(black,0.9), 0 30px 40px -10px fade-out(black,0.8);
        }
      }
      &.previous{
        figure{
          @include perspective-origin(100% 50%);
        }
        img{
          @include transform(rotateY(20deg) scale(0.85) translateX(-50%));
          @include transform-origin(0% 50%);
        }
      }
      &.next{
        figure{
          @include perspective-origin(0 50%);
        }
        img{
          @include transform(rotateY(-20deg) scale(0.85) translateX(50%));
          @include transform-origin(0 50%);
        }
      }
      figure,img,figcaption{
        @include transition(all $portfolio-transition-time $easing);
      }
      figcaption{
        opacity: 0;
      }
      figure{
        @include perspective(900px);
        img{
          border-radius: 10px;
          margin: 0;
          box-shadow: 0 2px 4px fade-out(black,0.9), 0 30px 40px -10px fade-out(black,0.8);
        }
      }
      &.current{
        figure{
          padding: 0 2vw;
          img{
            @include transform(rotateY(0));
          }
          figcaption{
            opacity: 1;
          }
        }
      }
    }
  }
}

.portfolio--header{
  position: absolute;
  left: -$pad*2;
  top:$pad*2;
  text-transform: uppercase;
  letter-spacing: .15em;
  font-size: inherit;
  color: $colors-2;
  margin: 0;
  padding: 0;
  line-height: 1;
  z-index: 2;
  @include transform(rotate(-90deg) translateX(-100%));
  @include transform-origin(0% 0%);

}

.portfolio{
  .view{
    figure{
      width: 70vw;
      @include display(flex);
      @include flex-wrap(nowrap);
      @include justify-content(center);
      @include align-items(flex-start);
      img{
        @include flex-grow(0);
      }
      figcaption{
        padding-left: 3vw;
        @include flex-grow(1);
        h2{
          margin: 0 0 1em 0;
        }
      }
    }
  }
  &.other{
    .view{
      figure{
        img{
          width: 30vw;
          min-width: 30vw;
        }
      }
      &>.current{
        figure{
          img{
            box-shadow: 0 2px 4px fade-out(black,0.9), 0 30px 40px -10px fade-out(black,0.8);
          }
        }
      }
      &>.next{
        img{
          @include transform(rotateY(-20deg) scale(0.85) translateX(20%));
        }
      }
      &>.previous{
        img{
          @include transform(rotateY(20deg) scale(0.85) translateX(-70%));
        }
      }
    }

  }
  &.mobile{
    .view{
      figure{
        img{
          width: $mobile-width;
          min-width: $mobile-width;
        }
      }
      &>.current{
        figure{
          img{
            box-shadow: none;
            border-radius: 0px;
          }
        }
      }
    }
  }
  &.web{
    figure{
      img{
        width: 40vw;
        min-width: 40vw;
      }
    }
    .view{
      &>.current{
        figure{
          img{
            box-shadow: none;
            border-radius: 0px;
          }
        }
      }
      &>.next{
        img{
          @include transform(rotateY(-20deg) scale(0.85) translateX(10%));
        }
      }
      &>.previous{
        img{
          @include transform(rotateY(20deg) scale(0.85) translateX(-90%));
        }
      }
    }
  }
}

$gradient: linear-gradient(fade-out(black,0.9),fade-out(black,0.95));

.frame.web,
.frame.mobile{
  font-size: 320px;
  width: 1em;
  display: inline-block;
  position: relative;
  box-shadow: 0 .005em .01em 0 fade-out(black,0.95),0 .15em .25em 0 fade-out(black,0.8);
  box-sizing: content-box;
  pointer-events: none;

  &>:before,
  &>:after{
    position: absolute;
    content: '';
    display: block;
    z-index: 1;
  }
}

.frame.web{
  font-size: 600px;
  border-radius: .025em .025em 0 0;
  border: 0 solid white;
  border-top-width: .06em;
  margin: -.06em 0 0 0;
  box-shadow: 0 .005em .01em 0 fade-out(black,0.95),0 .05em .1em .0125em fade-out(black,0.7);

  &:before{
    box-shadow: inset 0 3px 3px -3px fade-out(black,0.8);
  }

  //search bar
  &>:nth-child(1):after{
    left: 12%;
    right: (.06em - .03em)/2;
    height: .03em;
    top: -(.06em + .03em)/2;
    border-radius: .015em;
    @include background-image($gradient);
  }

  //stoplights
  &>:nth-child(1):before,
  &>:nth-child(2):before,
  &>:nth-child(2):after{
    left: .02em;
    height: .02em;
    width: .02em;
    top: -(.06em + .02em)/2;
    border-radius: .01em;
    @include background-image($gradient);
  }
  &>:nth-child(2):before{
    margin-left: .02em*1.5;
  }
  &>:nth-child(2):after{
    margin-left: .02em*3;
  }

  @include aspect-ratio(16,9);
}

// iphone
.frame.mobile{
  border: 1px solid white;
  border-width: .2em;
  border-left-width: .05em;
  border-right-width: .05em;
  border-radius: .1em;
  margin: -.2em -.05em;
  box-shadow: 0 .005em .01em 0 fade-out(black,0.95),0 .15em .25em 0 fade-out(black,0.8);
  @include aspect-ratio(9,16);

  // button
  &>:nth-child(2):before{
    width: .12em;
    height: .12em;
    position: absolute;
    bottom: -(.2em + .12em)/2;
    left: 50%;
    border-radius: .06em;
    @include background-image($gradient);
    @include transform(translate3d(-50%,0,0));
  }

  // screen
  &>:nth-child(2):after{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 1px 3px fade-out(black,0.8);
  }

  // speaker
  &>:nth-child(3):before{
    left: 42%;
    right: 42%;
    height: .02em;
    top: -(.2em + .02em)/2;
    border-radius: .01em;
    @include background-image($gradient);
  }

  // camera
  &>:nth-child(3):after{
    left: 34%;
    width: .04em;
    height: .04em;
    top: -(.2em + .04em)/2;
    border-radius: .02em;
    @include background-image($gradient);
  }

}

@media screen and (max-width:900px){
  .portfolio{
    margin: -$pad*4 auto;

    .portfolio--header{
      @include transform(rotate(0));
      display: block;
      top: -$pad;
      left: 0;
      right: 0;
      text-align: center;
    }

    .frame{
      font-size: 70vw !important;
      left: 15vw !important;

      &.mobile{
        font-size: 40vw !important;
        left: 30vw !important;
      }
    }
    .view{
      >.current{
        figure{
          padding: 0;
        }
      }
      figure{
        text-align: center;
        display: block;
        img{
          width: 70vw !important;
          min-width: 70vw !important;
        }
        figcaption{
          padding: $pad 0;
          text-align: left;
        }
      }
    }
    &.mobile{
      .view{
        figure{
          img{
            width: 40vw !important;
            min-width: 40vw !important;
            margin-bottom: $pad*2;
          }
        }
      }
    }
  }
}
