@import 'vars';

section,
footer,
header{
  position: relative;
  overflow: hidden;
  &>svg{
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
    display: block;
    fill: white;
    fill: url(#grad-green);
    pointer-events: none;
    @include transform(translateX(-50%));
    @include transition(all .3s ease-in-out);
    path{
      @include transition(all .3s ease-in-out);
    }
  }
}

header{
  min-height: 100%;
  min-height: 80vh;
  position: relative;
  &>svg{
    fill: black;
    fill: url(#grad-header);
    height: 180px;
    width: 100%;
    top: -5px;
    path{
      d: path($svg-header-end);
      @include animation(30s top-wave linear infinite alternate);
    }
  }
  ~ main section:first-child{
    &>svg{
      path{
        d: path($svg-path-wavy-2);
        @include animation(30s bottom-wave linear infinite alternate);
      }
    }
  }
}

footer{
  &>svg{
    path{
      d: path($svg-path-wavy-2);
      @include animation(30s bottom-wave linear infinite alternate);
    }
  }
}

@include keyframes(top-wave){
  from{
    d: path($svg-header-end);
  }
  50%{
    d: path($svg-header-mid);
  }
  to{
    d: path($svg-header-start);
  }
}

@include keyframes(bottom-wave){
  from{
    d: path($svg-path-wavy-2);
  }
  50%{
    d: path($svg-path-wavy);
  }
  to{
    d: path($svg-path-wavy-3);
  }
}


.portfolio:nth-child(2n){
  .portfolio--header{
    color: $colors-6;
  }
}

.portfolio:nth-child(3n){
  .portfolio--header{
    color: $colors-5;
  }
}

footer{
  text-align: center;
  padding: $pad*2 0;
  overflow: hidden;
  color: white;
  &>svg{
    bottom: 0;
    top: $pad;
    width: 140%;
    left: 60%;
    height: 100%;
    fill: black;
    fill: url(#grad-footer);
  }
}

@include keyframes(wavy){
  from{
    d: path($svg-path-wavy);
  }
  50%{
    d: path($svg-path-wavy-2);
  }
  to{
    d: path($svg-path-wavy-3);
  }
}

@media screen and (max-width: 640px){
  header{
    min-height: 85vh;
  }
  footer,
  section,
  header{
    &>svg{
      width: 200%;
      height: 120px;
    }
  }
  section{
    &>svg{
      height: 140px;
    }
  }
  footer{
    padding: $pad 0;
    &>svg{
      height: 100%;
    }
  }
}
