section,
footer,
header,
main,
.section {
  position: relative;
  overflow: hidden; }
  section > svg,
  footer > svg,
  header > svg,
  main > svg,
  .section > svg {
    position: absolute;
    left: 50%;
    top: 0;
    right: 0;
    width: 100%;
    height: 300px;
    z-index: -1;
    display: block;
    fill: white;
    fill: url(#grad-green);
    pointer-events: none;
    transform: translateX(-50%);
    transition: all 0.3s ease-in-out; }
    section > svg path,
    footer > svg path,
    header > svg path,
    main > svg path,
    .section > svg path {
      transition: all 0.3s ease-in-out; }

main {
  overflow: visible;
  padding-top: 20vh; }
  main:before {
    position: absolute;
    left: 0;
    top: 80px;
    right: 0;
    height: 60px;
    text-align: center;
    opacity: 1;
    content: '';
    background: url(../img/arrow.svg) center center no-repeat;
    background-size: contain;
    will-change: opacity;
    transition: opacity 0.333s cubic-bezier(0.68, 0, 0.265, 1); }
  .nav-docked main > div, .nav-docking main > div {
    opacity: 1; }
  .nav-docked main:before, .nav-docking main:before {
    opacity: 0; }
  .nav-docked main {
    padding-top: 0; }

header {
  min-height: 100%;
  min-height: 80vh; }
  header > svg {
    fill: black;
    fill: url(#grad-header);
    height: 180px;
    width: 100%;
    top: -5px; }
    header > svg path {
      d: path("M 27 10C 21 8 14 3 0 3L 0 0L 54 0L 54 14C 40 14 33 12 27 10Z");
      animation: 30s top-wave linear infinite alternate; }
  header ~ main > svg path {
    d: path("M 27 4C 21 2 14 0 0 0L 0 14L 54 14L 54 11C 40 11 33 6 27 4Z");
    animation: 30s bottom-wave linear infinite alternate; }

footer > svg path {
  d: path("M 27 4C 21 2 14 0 0 0L 0 14L 54 14L 54 11C 40 11 33 6 27 4Z");
  animation: 30s bottom-wave linear infinite alternate; }
@keyframes top-wave {
  from {
    d: path("M 27 10C 21 8 14 3 0 3L 0 0L 54 0L 54 14C 40 14 33 12 27 10Z"); }
  50% {
    d: path("M 27 14C 12 14 5 7 0 7L 0 0L 54 0L 54 7C 49 7 42 14 27 14Z"); }
  to {
    d: path("M 27 10C 21 12 14 14 0 14L 0 0L 54 0L 54 3C 40 3 33 8 27 10Z"); } }
@keyframes bottom-wave {
  from {
    d: path("M 27 4C 21 2 14 0 0 0L 0 14L 54 14L 54 11C 40 11 33 6 27 4Z"); }
  50% {
    d: path("M 27 0C 12.0883 0 5 4 0 4L 0 14L 54 14L 54 4C 48 4 41.9117 0 27 0Z"); }
  to {
    d: path("M 27 4.125C 21 6.125 14 11 0 11L 0 13.9962L 54 14L 54 0C 40 0 33 2.125 27 4.125Z"); } }
footer {
  text-align: center;
  padding: 40px 0;
  overflow: hidden;
  color: white; }
  footer > svg {
    bottom: 0;
    top: 20px;
    width: 140%;
    left: 60%;
    height: 100%;
    fill: black;
    fill: url(#grad-footer); }
@keyframes wavy {
  from {
    d: path("M 27 0C 12.0883 0 5 4 0 4L 0 14L 54 14L 54 4C 48 4 41.9117 0 27 0Z"); }
  50% {
    d: path("M 27 4C 21 2 14 0 0 0L 0 14L 54 14L 54 11C 40 11 33 6 27 4Z"); }
  to {
    d: path("M 27 4.125C 21 6.125 14 11 0 11L 0 13.9962L 54 14L 54 0C 40 0 33 2.125 27 4.125Z"); } }
@media screen and (max-width: 640px) {
  header {
    min-height: 85vh; }

  footer > svg,
  section > svg,
  header > svg {
    width: 200%;
    height: 120px; }

  section > svg {
    height: 140px; }

  footer {
    padding: 20px 0; }
    footer > svg {
      height: 100%; } }