@import 'vars';


.view{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  font-size:0;
  &>*{
    list-style: none;
    margin: 0;
    width: auto;
    position: relative;
    overflow: visible;
    vertical-align: top;
    width: 0%;
    opacity: 0;
    font-size: 1rem;
    white-space: normal;
    display: none;
    @include transition(all $transition-duration $easing);
    &.next,
    &.previous{
      cursor: pointer;
      display: inline-block;
    }
    &.current{
      opacity: 1;
      z-index: 1;
      display: inline-block;
      @include transform(translateX(15vw));
    }
    &.next{
      opacity: 1;
      @include transform(translateX(85vw));
    }
    &.previous{
      opacity: 1;
      @include transform(translateX(0vw));
    }
  }
}
