/* CSS for Gooper generated 2017-11-23 */
/* CSS Generator made by Kyle Wayne Benson */
@font-face {
  font-family: 'Gooper';
  font-weight: 900;
  src: url("../type/gooper/Gooper-Black.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-Black.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-Black.woff2") format("woff2"), url("../type/gooper/Gooper-Black.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-weight: 700;
  src: url("../type/gooper/Gooper-Bold.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-Bold.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-Bold.woff2") format("woff2"), url("../type/gooper/Gooper-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-weight: 400;
  src: url("../type/gooper/Gooper-Regular.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-Regular.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-Regular.woff2") format("woff2"), url("../type/gooper/Gooper-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-weight: 600;
  src: url("../type/gooper/Gooper-SemiBold.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-SemiBold.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-SemiBold.woff2") format("woff2"), url("../type/gooper/Gooper-SemiBold.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-weight: 100;
  src: url("../type/gooper/Gooper-Thin.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-Thin.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-Thin.woff2") format("woff2"), url("../type/gooper/Gooper-Thin.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-weight: 300;
  src: url("../type/gooper/Gooper-Light.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-Light.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-Light.woff2") format("woff2"), url("../type/gooper/Gooper-Light.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-style: italic;
  font-weight: 900;
  src: url("../type/gooper/Gooper-BlackItalic.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-BlackItalic.woff2") format("woff2"), url("../type/gooper/Gooper-BlackItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-style: italic;
  font-weight: 700;
  src: url("../type/gooper/Gooper-BoldItalic.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-BoldItalic.woff2") format("woff2"), url("../type/gooper/Gooper-BoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-style: italic;
  font-weight: 400;
  src: url("../type/gooper/Gooper-RegularItalic.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-RegularItalic.woff2") format("woff2"), url("../type/gooper/Gooper-RegularItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-style: italic;
  font-weight: 600;
  src: url("../type/gooper/Gooper-SemiBoldItalic.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-SemiBoldItalic.woff2") format("woff2"), url("../type/gooper/Gooper-SemiBoldItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-style: italic;
  font-weight: 100;
  src: url("../type/gooper/Gooper-ThinItalic.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-ThinItalic.woff2") format("woff2"), url("../type/gooper/Gooper-ThinItalic.woff") format("woff"); }

@font-face {
  font-family: 'Gooper';
  font-style: italic;
  font-weight: 300;
  src: url("../type/gooper/Gooper-LightItalic.eot");
  /* IE9 */
  src: url("../type/gooper/Gooper-LightItalic.eot?#iefix") format("embedded-opentype"), url("../type/gooper/Gooper-LightItalic.woff2") format("woff2"), url("../type/gooper/Gooper-LightItalic.woff") format("woff"); }