@import url(../fonts/inter-ui/inter-ui.css);
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body {
  padding: 0;
  margin: 0; }

body {
  padding-bottom: 160px; }

html {
  font-family: "Inter UI";
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #0E0B16; }
  @supports (font-size: calc(10vw * 10vh)) {
    html {
      font-size: calc(10vw * 10vh); } }

hr {
  border: 0;
  width: 2rem;
  height: 1px;
  margin: 2rem 0;
  background-color: rgba(14, 11, 22, 0.25); }

h1 {
  font-size: 1.25rem;
  font-weight: normal;
  font-family: "Inter UI";
  font-weight: 600; }

h2 {
  font-size: 1rem;
  font-weight: normal;
  font-family: "Inter UI";
  font-weight: 600; }

.small-caps {
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing: .125em;
  font-weight: 600; }

h1, h2, dl, ol, ul, p {
  margin: 0 0 .25rem 0; }

p {
  margin: 0 0 1.25rem 0; }

figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  overflow: hidden;
  border-radius: 2em;
  font-weight: 600;
  padding: .25em .5em;
  margin: -.25em -.5em;
  text-decoration: underline;
  transition: all 0.15s ease-in-out; }
  a:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: currentColor;
    transition: transform 0.15s ease-in-out;
    z-index: -1;
    opacity: 0;
    transform: translateY(20%); }
  a.btn, a:hover {
    color: white;
    text-decoration: none; }
    a.btn:before, a:hover:before {
      height: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #0E0B16;
      border-radius: 2em;
      opacity: 1;
      transform: translateY(0);
      text-decoration: none; }
  a:hover {
    transform: scale(1.05); }
  a:active {
    animation: button-press 0.15s ease-in-out;
    transform: scale(0.95) translateY(0.1em); }
  a.btn.cta {
    color: #0E0B16; }
    a.btn.cta:before {
      background-color: #f1f4e9; }
    a.btn.cta:active {
      opacity: 0.66; }

.btn {
  padding: .75em 1em;
  margin: -.75em -1em;
  display: inline-block;
  color: #0E0B16;
  border: 0;
  overflow: hidden; }

dl {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  dl dd {
    margin: 0;
    padding: 0;
    -ms-flex-preferred-size: 66.66%;
        flex-basis: 66.66%; }
  dl dt {
    margin: 0;
    padding: 0;
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%; }

.m0 {
  margin: 0; }
.mh {
  margin: 0.5rem; }
.m1 {
  margin: 1rem; }
.mb0 {
  margin-bottom: 0; }
.mbh {
  margin-bottom: 0.5rem; }
.mbq {
  margin-bottom: 0.25rem; }
.mb1 {
  margin-bottom: 1rem; }
.mt0 {
  margin-top: 0; }
.mth {
  margin-top: 0.5rem; }
.mtq {
  margin-top: 0.25rem; }
.mt1 {
  margin-top: 1rem; }

.p0 {
  padding: 0; }
.ph {
  padding: 0.5rem; }
.p1 {
  padding: 1rem; }
.pb0 {
  padding-bottom: 0; }
.pbh {
  padding-bottom: 0.5rem; }
.pbq {
  padding-bottom: 0.25rem; }
.pb1 {
  margin-bottom: 1rem; }
.pt0 {
  margin-top: 0; }
.pth {
  margin-top: 0.5rem; }
.ptq {
  padding-top: 0.25rem; }
.pt1 {
  margin-top: 1rem; }

.subtle, a[href^="mailto:"]:after, a[href^="http:"]:hover:after, main section dl dd {
  opacity: 0.5; }

a[href^="mailto:"]:after {
  content: ''; }

a[href^="http:"]:hover:after {
  content: ''; }

body:target header .avatar {
  display: block; }
  body:target header .avatar[href="#alt"] {
    display: none; }

header {
  background-color: #0E0B16;
  overflow: hidden;
  color: rgba(241, 244, 233, 0.7);
  box-shadow: 0 20px 40px 0px rgba(0, 0, 0, 0.25);
  text-align: left;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 1rem;
  border-radius: 1rem;
  bottom: 2rem;
  border-radius: 6rem;
  display: -ms-flexbox;
  display: flex;
  height: 132px;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -ms-flex-align: stretch;
      align-items: stretch; }
  header a[href="#contact"]:after {
    content: 'Contact'; }
  header nav {
    -ms-flex-order: 1;
        order: 1;
    white-space: normal;
    margin: 0;
    border-radius: 3rem;
    padding: 0;
    overflow: hidden;
    height: auto;
    -ms-flex: 0;
        flex: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.1); }
    header nav a {
      display: block;
      padding: .75rem;
      margin: .25rem;
      text-align: center;
      font-weight: 100; }
  header:target {
    height: auto;
    border-radius: 4rem; }
    header:target nav {
      -ms-flex: 1;
          flex: 1;
      padding: 1rem;
      opacity: 1;
      margin-top: 0.5rem; }
    header:target a[href="#contact"] {
      pointer-events: none;
      opacity: 0; }
    header:target ~ .esc {
      display: block; }
  header h1, header h2, header strong, header a {
    color: #f1f4e9; }
  header figure {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: start;
        justify-content: flex-start;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    -ms-flex-align: center;
        align-items: center;
    margin: 0; }
  header .avatar {
    -webkit-filter: grayscale(100%) brightness(1.2) contrast(1.2);
            filter: grayscale(100%) brightness(1.2) contrast(1.2);
    display: none;
    position: relative;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    margin-right: .5rem; }
    header .avatar img {
      width: 96px;
      height: auto;
      overflow: hidden;
      border-radius: 100%; }
    header .avatar[href="#alt"] {
      display: block; }
    header .avatar:before {
      display: none; }
  header .btn {
    margin: 0 1.5rem; }
  header figcaption {
    display: block;
    padding: 0;
    white-space: nowrap; }
    header figcaption h2 {
      display: block;
      margin: 0 0 .5rem 0; }

.esc {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none; }
  .esc:after, .esc:before {
    display: none !important; }

main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 1rem; }
  main section {
    -ms-flex-positive: 1;
        flex-grow: 1;
    margin: .5rem;
    padding: 2rem;
    -ms-flex-preferred-size: 10%;
        flex-basis: 10%;
    position: relative;
    border-radius: 1rem;
    transition: all 0.15s ease-in-out;
    background: rgba(14, 11, 22, 0.04); }
    main section dl {
      display: block; }
      main section dl dd, main section dl dt {
        display: block; }
      main section dl dt {
        margin-right: .5rem; }
      main section dl dd {
        clear: both;
        margin-bottom: 1rem; }

@keyframes button-press {
  0% {
    box-shadow: 0 0 0 rgba(255, 255, 255, 0.3); }
  100% {
    box-shadow: 0 0 0 30px rgba(255, 255, 255, 0); } }
@keyframes button-hover {
  0% {
    transform: translateY(0);
    overflow: hidden; }
  49.9% {
    transform: translateY(200%);
    overflow: hidden; }
  50% {
    transform: translateY(-200%);
    overflow: hidden; }
  100% {
    transform: translateY(0);
    overflow: hidden; } }
@media screen and (max-width: 760px) {
  hr {
    margin: 1em 0; }

  body {
    padding-bottom: 80px; }

  main {
    display: block; }
    main section {
      margin: 0 0 1rem 0; }

  header {
    bottom: 1rem;
    height: 96px;
    border-radius: 3rem; }
    header, header * {
      font-size: 14px; }
    header:target {
      border-radius: 3rem; }
      header:target nav {
        border-radius: 2rem;
        margin-top: 0.5rem; }
    header .avatar img {
      width: 64px; }
    header .btn {
      margin: 0 0.5rem 0 1rem; } }