.fl-button {
  position: relative;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: white;
  padding: 0.5em 1em;
  font-size: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .fl-button .jubilee.burst {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -4px 0 0 -4px; }

.jubilee.burst .particle {
  width: 6px;
  height: 6px;
  box-shadow: 0 0 5px 1px; }